<div class="back-white overflow-hidden">
  <!--{{baseUrl}}{{viewName}}/res/img/404.jpg-->
  <img src="{{lostImgUrl}}"  alt="" class="common-img img-404">
  <p class="align-center color-404 font-36">
    <em class="font-55">抱歉!</em>
    你所要访问的页面不存在
  </p>
  <p class="align-center color-404 mt-25">你要查看的网址可能已被删除或者展示不可用</p>
  <p class="align-center color-404 mt-190 mb-40">点击一下连接继续浏览网站</p>

  <a href="javascript:void(0);" class="btn-404">返回上一级页面</a>
  <a href="javascript:void(0);" class="btn-404 link-mb-260">返回网站首页</a>
</div>
