<div  data-dojo-attach-point="containerNode">
	<div data-dojo-type="dijit/Dialog" id="pc/change_password_dialog" data-dojo-props='
			title:"修改密码"' data-dojo-attach-point='dialog'>
		<table>
			<tr>
				<td><label for="oldPass">旧密码:</label></td>
				<td><input data-dojo-type="dijit/form/TextBox" type="password" id="oldPass" name="oldPass"></td>
			</tr>
			<tr>
				<td><label for="newPass">新密码:</label></td>
				<td><input data-dojo-type="dijit/form/TextBox" type="password" id="newPass" name="newPass" v-model='password'></td>
				<td><i class='iconfont iconfont-zhengque' style='display:none'></i></td>
			</tr>
			<tr>
				<td><label for="reNewPass">重复新密码:</label></td>
				<td><input data-dojo-type="dijit/form/TextBox" type="password" id="reNewPass" name="reNewPass"></td>
				<td><i class='iconfont iconfont-zhengque' style='display:none'></i></td>
			</tr>
		</table>
		<div class='dijitDialogPaneActionBar' data-dojo-attach-point="actionBarNode">
			<button data-dojo-type='dijit/form/Button' data-dojo-attach-point="submitButton">确认</button>
			<!--
			<button data-dojo-type='dijit/form/Button' type='button'
			data-dojo-attach-point="cancelButton" data-dojo-attach-event='click:onCancel'>取消</button>
			-->
		</div>
		<br/>
		<div>
			<span class='color-red'>注:密码至少8位，且至少包含大写字母、<br/>小写字母、数字、特殊字符中的三种</span>
		</div>
	</div>
</div>
