@charset "utf-8";
/*pages style*/

.main_form{
	margin-top:0px;
}
.button_red{
	color:#f74e61;
	.icon{
		vertical-align:top;
		font-size:1.1em;
		margin-right:.1em
	}
}
/*主页*/
.mobile_index{
	.icon{
		vertical-align:top;
		font-size:1.9em;
	}
	p{
		margin-top:1em;
	}
}
.small_font{
	font-size:.8em;
}
.smaller_font{
	font-size:.9em;
}
.bottom_announce{
	position:absolute;
	bottom:0px;
}
.descript{
	margin-left:2em;
	color:#999;
}

/*系统通知*/
.notification{
	padding:2em;
	color:#666;
	.noti_title{
		font-weight:bold;
		text-align:center;
		font-size:1.4em;
		margin-bottom:1.3em;
	}
	.main_text{
		color:#333;
		font-size:1.1em;
	}
	.noti_name{
	 	text-align:right;
	 	margin-top:2em;
	}
}
