/*project global css style*/
/*pages style*/
/* line 2, ../sass/pages/iframe.scss */
.iframe_container {
  height: 736px;
  overflow: scroll; }

/* line 7, ../sass/pages/iframe.scss */
.inline_iframe {
  width: 100%;
  height: 100%; }
