<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<%for(var i = 0,len = model.imgData.length;i<len;i++){%>
		<li data-target="<%=model.imgData[i].imgSrc%>" data-slide-to="<%=i%>" class=<%=i==0?'active':''%>></li>
		<%}%>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<%for(var j=0,len=model.imgData.length;j<len;j++){%>
			<div class="item <%=j==0?'active':''%>">
				<img  src="<%=model.imgData[j].imgSrc%>" alt="<%=model.imgData[j].alt%>" class="ui_carouseImg"  >
				<div class="carousel-caption">
					<h3><%=model.imgData[j].headerText%></h3>
					<p><%=model.imgData[j].paragraphText%></p>
				</div>
			</div>
		<%}%>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only"><%=model.previousText%></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only"><%=model.nextText%></span>
	</a>
</div>
