<!--<div class="hd hd_title">
<h1 class="page_title">外访任务列表</h1>
<a class="mobile_back">返回</a>
</div>-->
<section v-if="viewName.indexOf('statistics_search') < 0">
  <div class="weui-cells__title"></div>
  <div class="weui_cells" style="margin-top:0px;">
    <div class='cui-box align-center weui_cell'>
      <div class="cui-flx1">本月收入</div>
      <div class="cui-flx1">本月消费</div>
      <div class="cui-flx1">本月结余</div>
    </div>
    <div class='cui-box align-center weui_cell' v-on:click="goCustomerDetail(taskItem,$event)">
      <div class="cui-flx1 smaller_font">{{sumIncomes?sumIncomes.toFixed(2):sumIncomes}}</div>
      <div class="cui-flx1 smaller_font"> {{sumExpenses?sumExpenses.toFixed(2):sumExpenses}}</div>
      <div class="cui-flx1 smaller_font">{{(sumIncomes - sumExpenses)?(sumIncomes - sumExpenses).toFixed(2):''}}</div>
    </div>
  </div>
</section>
<br>
<section  v-if="viewName.indexOf('statistics_search') >= 0">
  <div class="weui-cells__title"></div>
  <div class="weui-cells weui-cells_form">

    <div class="weui-cell weui_cells_access">
      <div class="weui-cell_hd"><label for="" class="weui-label">开始日期</label></div>
      <div class="weui-cell_bd weui_cell_primary">
        <div class="weui_cell weui_cells_access">
          <input class="weui-input" type="date" value="" v-model="formData.startDate" >
          <div class="weui_cell_ft">
            <i class="weui_icon_warn weui_icon_warn_custom rigth-0 display-none"></i>
            <i class="weui_icon_success_no_circle weui_icon_success_no_circle_custom display-none rigth-0"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="weui-cell weui_cells_access">
      <div class="weui-cell_hd"><label for="" class="weui-label">结束日期</label></div>
      <div class="weui-cell_bd weui_cell_primary">
        <div class="weui_cell weui_cells_access">
          <input class="weui-input" type="date" value="" placeholder="" v-model="formData.endDate" >
          <div class="weui_cell_ft">
            <i class="weui_icon_warn weui_icon_warn_custom rigth-0 display-none"></i>
            <i class="weui_icon_success_no_circle weui_icon_success_no_circle_custom display-none rigth-0"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="weui_btn_area">
      <a class="weui_btn weui_btn_primary" href="javascript:" v-on:click="search($event)">查询</a><!--将事件作为参数传递-->
    </div>
  </div>
  <div class="weui_cells" style="margin-top:0px;">
    <div class='cui-box align-center weui_cell'>
      <div class="cui-flx1">收入</div>
      <div class="cui-flx1">消费</div>
      <div class="cui-flx1">结余</div>
    </div>
    <div class='cui-box align-center weui_cell' v-on:click="goCustomerDetail(taskItem,$event)">
      <div class="cui-flx1 smaller_font">{{sumIncomes?sumIncomes.toFixed(2):sumIncomes}}</div>
      <div class="cui-flx1 smaller_font"> {{sumExpenses?sumExpenses.toFixed(2):sumExpenses}}</div>
      <div class="cui-flx1 smaller_font">{{(sumIncomes - sumExpenses)?(sumIncomes - sumExpenses).toFixed(2):''}}</div>
    </div>
  </div>
</section>
<section>
  <div class="weui-cells__title">收入</div>
  <div class="weui_cells" style="margin-top:0px;">
    <div style="margin:20px">
      <div id="incomePieChart" style="width: 370px; height: 350px; float:left;">
      </div>
      <div id="incomeLegend{{viewContextPostfix}}">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="weui-cells__title">支出</div>
  <div class="weui_cells" style="margin-top:0px;">
    <div style="margin:20px">
      <div id="expensePieChart" style="width: 370px; height: 350px; float:left;">
      </div>
      <div id="expenseLegend{{viewContextPostfix}}">
      </div>
    </div>
  </div>
</section>
