@charset "utf-8";
/*@import "compass/utilities/sprites";
$ico-list-spacing: 10px;
$ico-list-layout:vertical;
@import "ico-list*//*.png";
@include all-ico-list-sprites;*/
.rejectMediocrity{
  .ico-list,.active-identifier::before,.btn-luck-draw::before{
    background-image: url("../img/rejectMediocrity/ico-list.png") ;
    background-repeat: no-repeat;
    background-size: rem-calc(349px) rem-calc(237px);
  }
  .img-block{
    display:block;
    vertical-align: bottom;
  }
  .rejectMediocrity-container{
    background-color:#a2261c;
    width: 100%;
  }
  .active-identifier{
    background-color: #fcc743;
    color: #a3241b;
    font-size: rem-calc(30px);
    width: rem-calc(90px);
    height: rem-calc(73px);
    position: relative;
    margin-left: rem-calc(50px);
  }
  .active-identifier::before{
    content: "";
    width: rem-calc(93px);
    height: rem-calc(36px);
    position: absolute;
    bottom:rem-calc(-36px);
    background-position:rem-calc(0) rem-calc(0);
  }
  .active-identifier-font{
    font-size: rem-calc(68px);
    position:absolute;
    left: rem-calc(10px);
    top:rem-calc(5px);
  }
  .active-title{
    width: rem-calc(195px);
    height: rem-calc(68px);
    position: absolute;
    left: 50%;
    top:rem-calc(10px);
    transform: translate(-50%, 0);
    background-position: rem-calc(0) rem-calc(-40px);
    text-indent: -9999px;
  }
  .zhuanpan-con{
    left: 50%;
    margin-top: rem-calc(20px);
    transform: translate(-50%, 0);
    position: relative;
    width: rem-calc(436px);
    height: rem-calc(436px);
    overflow: hidden;
  }
  .zhuanpan-zhizhen{
    width: rem-calc(205px);
    height: rem-calc(242px);
    background: url("../img/rejectMediocrity/zhuanpan-jiantou.png") no-repeat;
    background-size: rem-calc(205px) rem-calc(242px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
  }
  .btn-luck-draw{
    width: rem-calc(280px);
    height: rem-calc(70px);
    border:1px solid  #f3ca5e;
    @include background( linear-gradient(to bottom, #f39c35 0%,#e46d0f 100%));
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height:rem-calc(70px);
    //text-indent: -9999px;
    transform: translate(-50%,0);
    left: 50%;
    position:relative;
    margin-top: rem-calc(28px);
  }
  .btn-luck-draw::before{
    position:absolute;
    width: rem-calc(240px);
    height: rem-calc(40px);
    content: " ";
    background-position: rem-calc(0) rem-calc(-110px);
    left:rem-calc(20px);
    top:rem-calc(12px);
  }
  .btn-link-rule{
    color:#ffefcc;
    display: inline-block;
    transform: translate(-50%,0);
    position: relative;
    left: 50%;
    margin-top: rem-calc(35px);
    font-size: rem-calc(24px);
  }
  .red-packets-con{
    background: url(../img/rejectMediocrity/red-packets.png) no-repeat;
    background-size: rem-calc(497px) rem-calc(516px);
    width: rem-calc(497px);
    height: rem-calc(516px);
    position:fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -56%);
  }
  .red-packets-dialog::before{
    content: '';
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }
  .red-packets-text{
    color: #f8db00;
    font-size: rem-calc(22px);
    margin: rem-calc(170px) 0  0 rem-calc(105px);
  }
  .red-packets-bonus{
    font-size: rem-calc(50px);
    color: #b11a11;
    font-weight: bold;
    margin: rem-calc(25px) 0  0 rem-calc(180px);
    text-align: center;
    width: rem-calc(140px);
  }
  .btn-receive{
    position: absolute;
    bottom: rem-calc(22px);
    left: 50%;
    transform: translate(-50%,0);
  }
  .btn-yellow{
    width: rem-calc(240px);
    height: rem-calc(60px);
    background-color: #fcdb02;
    border-radius: rem-calc(5px);
    text-align: center;
    line-height: rem-calc(60px);
    color: #b02312;
    font-weight:bold;
    font-size: rem-calc(30px);
  }
  .winning-list-con .winning-list-title{
    background-color: #eb5d49;
    color: #fff;
    height:rem-calc(60px);
    line-height:rem-calc(60px);
    text-align: center;
    margin-top: rem-calc(40px);
  }
  .winning-list-con .winning-list-header,.winning-list-con dd{
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
    background-color: #ffede1;
    color: #791b19;
    line-height:rem-calc(40px);
    text-align: center;
  }
  .winning-list-con dd{
    background-color: #ffe5d2;
  }
}







