<!--登录-->
<div>
  <div class="hd" style="text-align:center;">
    <img class='logoImg' v-bind:src="logoImgUrl" title="中腾信金融" alt="中腾信金融">
    <h2 class="align-center">{{title}}</h2><!-- align-cente-->
  </div>
  <div class="weui_cells weui_cells weui_cells_form ">
    <div class="weui_cell js_cellphone_container">
      <div class="weui_cell_hd"><label class="weui_label">驻点商超:</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input js_input_username" type="" pattern="" maxlength="11" placeholder="请输入用户名" v-model="formData.loginId" v-on:click="setUsernameInputClicked">
      </div>
      <div class="weui_cell_ft">
        <i class="weui_icon_warn" v-show='!isValidUserName(formData.loginId)'></i>
        <i class="weui_icon_success_no_circle" v-show='isValidUserName(formData.loginId)'></i>
      </div>
    </div>
    <div class="weui_cell js_cellphone_container"><!---->
      <div class="weui_cell_hd"><label class="weui_label">密码:</label></div>
      <div class="weui_cell_bd weui_cell_primary">
        <input class="weui_input js_input_password" type="password" pattern="" maxlength="" placeholder="请输入密码" v-model="formData.password" v-on:click="setPasswordInputClicked">
      </div>
      <div class="weui_cell_ft">
        <i class="weui_icon_warn" v-show='!isValidPassword(formData.password)'></i>
        <i class="weui_icon_success_no_circle" v-show='isValidPassword(formData.password)'></i>
      </div>
    </div>
    <div class="weui_cell weui_vcode weui_cell_warn">
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="number" placeholder="请输入验证码" v-model="formData.captcha" >
        </div>
        <div class="weui_btn_area">
          <a class="weui_btn weui_btn_primary js-button-send_verifyCode" href="javascript:">发送验证码</a>
        </div>
    </div>
  </div>
  <div class="weui_btn_area" style="margin-top:2em;">
    <a class="weui_btn weui_btn_primary js_button_login" href="javascript:">登录</a>
  </div>
</div>
