
@import "util/functions";
@import "util/css3";
@import "compass/css3";

$rem-base: 40px;
$main-color:#f74e61;
$main-dark-color:#EC475A;
$mascotList-width:226;
$mascotList-heigth:1973;
$mascotLIst-boshi-position:0;
$mascotLIst-chaoren-position:257;
$mascotLIst-kefu-position:505;
$mascotLIst-mishu-position:770;
$mascotLIst-qidai-position:1020;
$mascotLIst-qingsong-position:1270;
$mascotLIst-weiqu-position:1525;
$mascotLIst-zhengmian-position:1727;
.mascotList{
  background-image: url("../img/mascotList.png");
  background-size:rem-calc($mascotList-width) rem-calc($mascotList-heigth);
  background-repeat: no-repeat;
  background-color: rgba(251,249,254,1);
}
.sub_viewport{
  min-height: rem-calc(1136px);
}
/*project global css style*/
/*pages style*/
@import "pages/cuishou_mobile";

/*z-index style*/
@import "z-index";
