@charset "utf-8";
//@import "compass/utilities/sprites";
//$ico-list-spacing: 10px;
//$ico-list-layout:vertical;
//@import "ico-list/*.png";
//@include all-ico-list-sprites;

.extensionActive{
  background-color: #f9f9f9;
  .banner{
    width: 100%;
    height:rem-calc(280px);
    background: url(../img/extensionActive/banner.jpg) no-repeat center;
    background-size: rem-calc(640px) rem-calc(280px);
  }
  .active-con{
    width: rem-calc(611px);
    margin:0 auto;
    overflow: hidden;
  }
  .active-list{
    width: rem-calc(621px);
    margin:rem-calc(20px)  0;
    display: inline-block;
    li{
      border: 1px solid #ddd;
      padding:rem-calc(10px);
      width: rem-calc(300px);
      height:rem-calc(420px);
      height: 37vh;
      background-color: #fff;
      @include box-sizing(border-box);
      float: left;
      margin-right:rem-calc(10px);
      margin-bottom: rem-calc(10px);
    }
    img{
      width: rem-calc(280px);
      height: rem-calc(200px);
    }
  }
  .active-title{
    font-size:rem-calc(24px);
    color:#333;
    margin-top:rem-calc(25px);
    font-weight: bold;
  }
  .active-introduction{
    font-size: rem-calc(20px);
    color: #666;
    margin: rem-calc(14px) rem-calc(10px) 0 rem-calc(10px);
    margin-top: 1vh;
    line-height: rem-calc(35px);
  }
  .text-more{
    font-size: rem-calc(16px);
    margin-top: rem-calc(5px);
    line-height: rem-calc(25px);
  }
  .wx-extension{
    width: rem-calc(316px);
    height: rem-calc(61px);
    margin-left: rem-calc(145px);

  }
}








