@charset "utf-8";

.consumer{
	position:relative;
	text-align:center;
	.button_book{
		position:relative;
		margin-top:-36%;
		animation: myfirst 1.5s linear 0s infinite alternate;
		/* Firefox: */
		-moz-animation: myfirst 1.5s linear 0s infinite alternate;
		/* Safari 和 Chrome: */
		-webkit-animation: myfirst 1.5s linear 0s infinite alternate;
		/* Opera: */
		-o-animation: myfirst 1.5s linear 0s infinite alternate;
	}
}
@keyframes myfirst
{
0%   {transform:scale(1.05);}
25%  {transform:scale(1);}
50%  {transform:scale(0.95);}
100% {transform:scale(1);}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {transform:scale(1.05);}
25%  {transform:scale(1);}
50%  {transform:scale(0.95);}
100% {transform:scale(1);}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
0%   {transform:scale(1.05);}
25%  {transform:scale(1);}
50%  {transform:scale(0.95);}
100% {transform:scale(1);}
}

@-o-keyframes myfirst /* Opera */
{
0%   {transform:scale(1.05);}
25%  {transform:scale(1);}
50%  {transform:scale(0.95);}
100% {transform:scale(1);}
}
.consumer_dec{
	background-color:#f9f1c5;
	color:#3e1609;
	margin-top: -6%;
	font-size:1em;
	.dec_main{
		width:94%;
		background-color:#f9f1c5;
		padding-top:5%;
		padding-bottom:8%;
		margin:auto;
	}
	.margin-left-15{
		margin-left:1.5em;
	}
	.padding-top-5{
		padding-top:5%;
	}
}







