<div>
    <div class="shade" style="display: none"></div>
    <div class="address-dialog">
        <div class="toperFix">
            <!--头部-->
            <header class="cm-header">
                <span class="icon-back float-left cm-header-icon"></span>
                <h2 class="wxTitle">选择城市</h2>
            </header>
            <!--头部 结束-->
        </div>
        <!--城市列表主体-->
        <div class="addressMain">
            <ul class="addressArea province-list">
                <!--<li data-code="">江苏省</li>-->
                <!--<li>安徽省</li>-->
                <!--<li>浙江省</li>-->
                <!--<li>河北省</li>-->
                <!--<li>山西省</li>-->
                <!--<li>江苏省</li>-->
                <!--<li>安徽省</li>-->
                <!--<li>浙江省</li>-->
                <!--<li>河北省</li>-->
                <!--<li>山西省</li>-->
                <!--<li>浙江省</li>-->
                <!--<li>河北省</li>-->
                <!--<li>山西省</li>-->
                <!--<li>江苏省</li>-->
                <!--<li>安徽省</li>-->
                <!--<li>浙江省</li>-->
                <!--<li>河北省</li>-->
                <!--<li>山西省</li>-->
            </ul>
            <ul class="addressArea city-list" style="display: none">
                <!--<li>南京市</li>-->
                <!--<li>徐州市</li>-->
                <!--<li>连云港市</li>-->
                <!--<li>苏州市</li>-->
                <!--<li>淮安市</li>-->
                <!--<li>盐城市</li>-->
            </ul>
            <ul class="addressArea area-list" style="display: none">
                <!--<li>玄武区</li>-->
                <!--<li>白下区</li>-->
                <!--<li>秦淮区</li>-->
                <!--<li>建邺区</li>-->
                <!--<li>鼓楼区</li>-->
                <!--<li>上关区</li>-->
            </ul>
        </div>
    </div>
</div>

