    <div class="credentials" id="js_plugins_certificate">
        <p class="cui_calendar_item"  data-credentialtype="ChinaNationalID" data-credential="身份证">身份证/China National ID <span class="f_icon_two f_icon_two8" <%if(!def_data || def_data != "ChinaNationalID" ) { %> style="display:none"<%}%>></span></p>
        <p class="cui_calendar_item"  data-credentialtype="Passport" data-credential="护照">护照/Passport <span class="f_icon_two f_icon_two8" <%if(!def_data || def_data != "Passport" ) { %> style="display:none"<%}%>></span></p>
        <p class="cui_calendar_item"  data-credentialtype="HKMacaoHomeReturnPermit" data-credential="港澳回乡证">港澳回乡证/ HK/Macao Home Return Permit<span class="f_icon_two f_icon_two8" <%if(!def_data || def_data != "HKMacaoHomeReturnPermit" ) { %> style="display:none"<%}%>></span></p>
        <p class="cui_calendar_item"  data-credentialtype="TaiwanPatriotEntryPermit" data-credential="台胞证">台胞证/Taiwan Patriot Entry Permit <span class="f_icon_two f_icon_two8" <%if(!def_data || def_data != "TaiwanPatriotEntryPermit" ) { %> style="display:none"<%}%>></span></p>
    </div>  

