<div style='position:relative;display:inline-block;' data-dojo-attach-point="containerNode">
    <input data-dojo-attach-point='descInput' data-dojo-type="dijit/form/TextBox" type="text" name="${name}Desc" id="tree_input_${id}" data-dojo-props='readOnly:true' />
    <input data-dojo-attach-point='realInput' id="real_input_${id}" name="${name}" class="real_input" type="hidden"  data-dojo-type="dijit/form/TextBox" />
    <button data-dojo-type="dijit/form/Button" type="button" id='tree_button_${id}' class='dijitArrowButtonInner-custom'></button>
    <div id="tree_container_${id}" style='display:none;height:150px;background-color:#FFF;z-index:100;overflow-y:scroll;left:0;border:1px solid #8babc7;;min-width:160px;position:absolute' tabindex='0'>
    </div>
</div>
