<span style='display:inline' data-dojo-attach-point="containerNode">
    <select required=${required} id="province-${id}" data-dojo-type="dijit/form/FilteringSelect"
            data-dojo-props="class:'select-width'" name="${provinceDomName}" placeholder="选择省">
    </select>
    <select required=${required} id="city-${id}" data-dojo-type="dijit/form/FilteringSelect"
            data-dojo-props="class:'select-width'" name="${cityDomName}" placeholder="选择市">
    </select>
    <select required=${required}  id="county-${id}" data-dojo-type="dijit/form/FilteringSelect"
            data-dojo-props="class:'select-width'" name="${countyDomName}" placeholder="选择区/县">
    </select>
    <br />
    <input class="detail_input" required=${required} id="address-${id}" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-props="maxlength:100" name="${addressDomName}" class="address-textBox" trim="true" placeholder="请输入详细地址" />
</span >
