<div class="weui-panel weui-panel_access">
  <div class="weui-panel__hd"></div>
  <div class="weui-panel__bd">
    <a href="https://s.click.taobao.com/t?e=m%3D2%26s%3DNJBVpgO6avscQipKwQzePDAVflQIoZepLKpWJ%2Bin0XJRAdhuF14FMfuK69jBTz9TJ1gyddu7kN%2BQFG5yrxMPVNVN5%2B0%2Fum0NUmqQcWIZIck01RWPJHqN%2Bn2maQXFK4ipxg5p7bh%2BFbQ%3D" class="weui-media-box weui-media-box_appmsg">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" src="//img.alicdn.com/bao/uploaded/i2/T17j4yFNpeXXXXXXXX_!!0-item_pic.jpg_240x240.jpg" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">南京紫云堂画廊</h4>
        <p class="weui-media-box__desc">实力画家，潜力收藏</p>
      </div>
    </a>
  </div>
  <div class="weui-panel__ft">
    <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
      <div class="weui-cell__bd">查看更多</div>
      <span class="weui-cell__ft"></span>
    </a>
  </div>
</div>
