<div class="js_dialog" id="iosDialog1" style="opacity: 1;">
  <div class="weui-mask"></div>
  <div class="weui-dialog">
    <div class="weui-dialog__hd"><strong class="weui-dialog__title"><%=title%></strong></div>
    <div class="weui-dialog__bd">
      <div class="weui_cell js_cellphone_container weui_cell_select">
        <div class="weui_cell_bd weui_cell_primary kui-selectDialog-con">
          <select  class="weui_select kui-selectDialog-select">
            <option value=''>请选择</option>
            <%_.each(list,function(item){%>
            <option value="<%=item.id%>" data-id='<%=item.id%>'><%=item.name%></option>
            <%});%>
          </select>
        </div>
      </div>
    </div>
    <div class="weui-dialog__ft">
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default kui-selectDialog-cancel">取消</a>
      <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary kui-selectDialog-confirm">确认</a>
    </div>
  </div>
</div>