<ion-view view-title="外勤签到" hide-tabs>
  <ion-content>
    <md-progress-linear class="md-primary" md-mode="indeterminate" ng-style="{'visibility': $root.load?'visible':'hidden'}"></md-progress-linear>
    <div class="weui_panel weui_panel_access">
      <div class="weui_panel_hd"></div>
      <div class="weui_panel_bd">
        <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
          <div class="weui_media_hd">
            <p><i class="iconfont icon-user main-color" style='font-size:150%'></i></p>
          </div>
          <div class="weui_media_bd">
            <h4 class="weui_media_title">陈祥云</h4>
            <p class="weui_media_desc"></p>
            <p class="weui_media_desc">010665</p>
          </div>
        </a>
      </div>
    </div>
    <div class='align-center checkbtn'>
      <span class="md-fab md-primary kui_radius_circle back-green color-white" style="width: 230px;height: 230px; border: 5px solid darkgrey">
        <p id="checkbtnp" style='font-size: 40px;padding-top: 40%;'>签到</p>
      </span>
    </div>
  </ion-content>
</ion-view>
