<div class="selectCalendarBox" id="j_select_calendar" style="display: block; left: 0%;">
	<div class="calendar_box">
		<div class="cal_header">
			<span class="left_cal_btn swiper-button-disabled" id="left_cal_btn"></span>
			<span class="cal_year">2015年7月</span>
			<span class="right_cal_btn right_cal_btn-active" id="right_cal_btn"></span>
			<div class="pagination"></div>
		</div>
		<div class="cal_content">
			<div class="week">
				<span>日</span><span>一</span><span>二</span><span>三</span><span>四</span><span>五</span><span>六</span>
			</div>
			<div class="swiper-container calendar-swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="day">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sureOutPersonBox2">
		<span class="sureBuy sureOutPerson" id="closeCalendar">确认日期</span>
	</div>
</div>
