<div class="cui-actionSheet">
  <div class="weui-mask" id="iosMask" style="opacity: 1;"></div>
  <div class="weui-actionsheet weui-actionsheet_toggle">
    <div class="weui-actionsheet__menu">
      <%_.each(actionList,function(actionItem){%>
        <div class="weui-actionsheet__cell" data-id='<%=actionItem.id%>'><%=actionItem.name%></div>
      <%});%>
    </div>
    <%if(isCancel){%>
    <div class="weui-actionsheet__action">
      <div class="weui-actionsheet__cell kui-actionSheet-cancel">取消</div>
    </div>
    <%}%>
  </div>
</div>
