@charset "utf-8";
@charset "UTF-8";
/*支付提示*/
.pay-success{
   padding:0 rem-calc(20px);
   position:relative;
   overflow: hidden;
   height: rem-calc(535px);
   top:rem-calc(-10px);
   @include box-sizing(border-box);
}
.pay-success-printer{
  height: rem-calc(20px);
  width:rem-calc(600px);
  margin:0 rem-calc(20px);
  @include  background-image(linear-gradient(to top,#656464,#383838));
  @include border-radius(rem-calc(20px));
}
.success-order-info{
  background-color:#fff;
  position:absolute;
  width:rem-calc(580px);
  height: rem-calc(520px);
  left:rem-calc(30px);
  border-left:rem-calc(2px) solid #e4e4e4;
  border-right:rem-calc(2px) solid #e4e4e4;
  text-align:center;
  @include animation(stretchdelay  1s ease);
}
@-moz-keyframes stretchdelay {
  0%{
    top:rem-calc(-630px);
  }
  100% {
    top:rem-calc(0px);
  }
}
@-webkit-keyframes stretchdelay {
  0%{
    top:rem-calc(-630px);
  }
  100% {
    top:rem-calc(0px);
  }
}
@keyframes stretchdelay {
  0%{
    top:rem-calc(-630px);
  }
  100% {
    top:rem-calc(0px);
  }
}
.success-order-info::before {
  content: " ";
  height: rem-calc(40px);
  width:100%;
  @include  background-image(linear-gradient(to top,#fff,#d5d5d5));
  position:absolute;
  left:0;
}
.mt-10{margin-top:rem-calc(10px);}
.mt-40{margin-top:rem-calc(40px);}
.mb-40{margin-bottom:rem-calc(40px);}
.font-50{font-size: rem-calc(50px)}
.success-order-info hr{
  width:rem-calc(520px);
  background-color:#d8d8d8;
  border: 0;
  height: rem-calc(2px);
}
.success-order-info::after {
  content: " ";
  background: url(../img/border-img.jpg) repeat;
  background-size:rem-calc(26px) rem-calc(16px);
  height: rem-calc(16px);
  width:100%;
  position:absolute;
  bottom:rem-calc(-16px);
  left:0;
}
.success-order-Attribute{
  color:#aaa;
  margin-top:rem-calc(40px);
  width: rem-calc(500px);
  display: inline-block;
}
.success-order-Attribute dt{
  width: rem-calc(140px);
  margin-bottom:rem-calc(15px);
  padding-left:rem-calc(10px);
  float:left;
  text-align:left;
  clear: both;
}
.success-order-Attribute dd{
  width: rem-calc(360px);
  padding-right:rem-calc(10px);
  margin-bottom:rem-calc(15px);
  float:right;
  text-align:right;
}
