@charset "utf-8";
/*@import "compass/utilities/sprites";    // 加载compass sprites模块
$icoList-layout: 'vertical';
$icoList-spacing: 80px;
@import "icoList*//*.png";                    // 导入icoList目录下所有png图片
@include all-share-sprites;                // 输出所有的雪碧图css*/


/*申请成功页面*/
/*.successTop:before,.provesLink p:before,.provesLink ul li span:before{
  background-image:url(../img/icoList.png);
  background-repeat: no-repeat;
  background-size:rem-calc(804px) rem-calc(128px);
}*/
.successTop:before{
  content: "";
  width: rem-calc(138px);
  height:rem-calc(208px);
  position: absolute;
  background-image:url(../img/mascotList.png);
  background-size:rem-calc($mascotList-width*0.8) rem-calc($mascotList-heigth*0.8);
  background-position: rem-calc(0) rem-calc(-$mascotLIst-kefu-position*0.8);
  background-color: rgba(253,253,255,1);
  left: rem-calc(80px);
  top: rem-calc(20px);
}
/*.provesLink p:before{
  content: "";
  background-position:rem-calc(-472px) rem-calc(0px);
  width: rem-calc(64px);
  height:rem-calc(64px);
  position: relative;
  left: rem-calc(-10px);
  top:rem-calc(25px);
  display: inline-block;
  background-size:rem-calc(643px) rem-calc(102px);
}*/
/*.provesLink ul li span:before{
  content: "";
  width: rem-calc(51px);
  height:rem-calc(51px);
  display: inline-block;
  background-position:rem-calc(-296px) rem-calc(0px);
  background-size:rem-calc(643px) rem-calc(102px);
  position: relative;
  left: rem-calc(12px);
  top:rem-calc(10px)
}*/
.provesLink ul li .work:before{
  background-position:rem-calc(-364px) rem-calc(0px);
  left: rem-calc(20px);
}
.provesLink ul li .money:before{
  background-position:rem-calc(-416px) rem-calc(0px);
}
.proveslink-icon{
  font-size: rem-calc(38px);
}
.proves-ico{
  color: #fff;
  font-size: rem-calc(50px);
  margin-left: rem-calc(14px);
}

.successTop{position: relative; height:rem-calc(110px); padding-top:rem-calc(80px); padding-bottom:rem-calc(85px); padding-left:rem-calc(230px); }
.successTop dt{ color:$main-color; padding-bottom:rem-calc(10px); font-size:rem-calc(32px);}
.successTop dd{ font-size:rem-calc(24px); line-height:rem-calc(30px); color:#666;}
.successStep{ padding:rem-calc(10px) 0;
  border-bottom:solid 1px #EEE;
  border-top:solid 1px #EEE;
  text-align:center;
  background: url("../img/step.png") rem-calc(30px) rem-calc(10px) no-repeat;
  background-size: rem-calc(581px) rem-calc(67px);
  width:rem-calc(640px);
  height:rem-calc(67px);
}
.successStep img{width:rem-calc(581px); height:rem-calc(65px);padding:rem-calc(12px) rem-calc(30px);}
.provesLink{ color:$main-color; margin-top:rem-calc(60px); margin-bottom:rem-calc(70px);}
.provesLink p{ font-size:rem-calc(26px); padding-left:rem-calc(90px); margin-bottom:rem-calc(30px);}
.provesLink ul{width:rem-calc(390px); margin:0 auto;}
.provesLink ul li{ margin-top:rem-calc(30px); position:relative;}
.provesLink ul li a{ display:block; @include border-radius(rem-calc(5px)); border:solid 2px #EEE;color:$main-color; font-size:rem-calc(32px); line-height:rem-calc(66px); display:block; padding-left:rem-calc(90px);}
.provesLink ul li span{background-color:$main-color; width:rem-calc(77px); height:rem-calc(72px);position:absolute; right:rem-calc(0); top:rem-calc(0);border:solid rem-calc(2px) $main-color; @include border-top-right-radius(rem-calc(5px)); @include border-bottom-right-radius(rem-calc(5px));}
/*.provesLink ul li span.work{background-color:$main-color; background-position:rem-calc(-364px) rem-calc(0px);}
.provesLink ul li span.money{background-color:$main-color; background-position:rem-calc(-416px) rem-calc(0px);}*/

//button
.footerLink { padding-top:0; text-align:center; padding-bottom:rem-calc(30px);}
.footerLink a{ width:rem-calc(275px); height:rem-calc(55px); line-height:rem-calc(55px); display:inline-block; margin-right:rem-calc(20px); background:#f0f0f0; box-shadow:0 2px 3px #DDD; text-align:center; color:#666; font-size:rem-calc(28px); @include border-radius(rem-calc(5px));}
.footerLink a.cur{background:$main-color; color:#FFF;}
.footerLink a.last{ margin-right:0;}
.footerLink a:hover{color:#FFF;background:$main-color;}
   