@charset "utf-8";

/*选择业务类型页面 */
.business_con{
  height: rem-calc(500px);
  margin: rem-calc(50px) 0;
}
.business_con .business_tab_con{
  position:absolute;
  @include  transition(all 300ms);
  left: rem-calc(620px);
  background-color:#fbf9fe;
  width: rem-calc(580px);
  height: 100%;
  padding:0 rem-calc(30px) ;
}
.business-mascot-img{
  width:rem-calc(200px);
  height: rem-calc(250px);
  background-position: rem-calc(0) rem-calc(-$mascotLIst-kefu-position);
  margin-left:rem-calc(20px);
  margin-top:rem-calc(20px);
}
.business-mascot-img-kefu{
  width:rem-calc(150px);
  margin-right: rem-calc(20px);
  margin-top:rem-calc(20px);
}
.business-text{
  width: rem-calc(360px);
  margin-top: rem-calc(50px);
  font-weight: bold;
  color: #654301;
}
.business_btn_con{
  width: 90%;
  display: inline-block;

}