@charset "UTF-8";
@import url(../font/iconfont.css);
/* line 19, ../sass/h5.scss */
.mascotList {
  background-image: url("../img/mascotList.png");
  background-size: 5.65rem 49.325rem;
  background-repeat: no-repeat;
  background-color: #fbf9fe; }

/* line 25, ../sass/h5.scss */
.sub_viewport {
  min-height: 28.4rem; }

/*project global css style*/

/*pages style*/
/* line 2, ../sass/pages/_simple_form.scss */
i, em, cite {
  font-style: normal; }

/* line 3, ../sass/pages/_simple_form.scss */
.swiper-pagination-bullet-active {
  background-color: #f74e61; }

/*首页区块*/
/* line 7, ../sass/pages/_simple_form.scss */
.headerLogo {
  padding: 0.75rem;
  background-color: #fff; }

/* line 8, ../sass/pages/_simple_form.scss */
.headerLogo img {
  width: 9.3rem;
  height: 1.25rem; }

/* line 10, ../sass/pages/_simple_form.scss */
.stepCon {
  border-bottom: solid 1px #f1f1f1;
  margin-bottom: 0.625rem;
  text-align: center;
  background-color: #fff; }

/* line 11, ../sass/pages/_simple_form.scss */
.stepCon img {
  margin: 0.25rem 0.825rem;
  width: 14.525rem; }

/*计算器区块*/
/* line 14, ../sass/pages/_simple_form.scss */
.descriptionArea {
  padding: 0 0.55rem 0 0.75rem; }

/* line 15, ../sass/pages/_simple_form.scss */
.descriptionCon {
  padding: 0.375rem 0.75rem 0.625rem 0.625rem;
  background: url(../img/jsq_bg.jpg) no-repeat 0 0;
  background-size: 100% 99%; }

/* line 16, ../sass/pages/_simple_form.scss */
.descriptionCon p {
  font-size: 0.6rem;
  margin-bottom: 0.25rem;
  color: #595858; }

/* line 17, ../sass/pages/_simple_form.scss */
.loanAmount p, .LoanAmount .prePrice {
  margin-bottom: 0.25rem; }

/* line 18, ../sass/pages/_simple_form.scss */
.loanAmount .prePrice {
  text-align: center;
  display: -moz-box;
  /* Firefox */
  display: -webkit-box;
  /* Safari and Chrome */
  display: -ms-flexbox;
  /* Internet Explorer 10 */
  display: box;
  width: 100%; }

/* line 26, ../sass/pages/_simple_form.scss */
.monthlyRepayment div {
  height: 2.3rem;
  position: relative;
  padding-left: 0.25rem;
  font-size: 1.7rem;
  background: url(../img/count_bg.png) no-repeat;
  color: #FFF;
  background-size: 100%; }

/* line 27, ../sass/pages/_simple_form.scss */
.monthlyRepayment div p {
  position: absolute;
  left: 0.5rem;
  top: 1.125rem;
  color: #FFF;
  font-size: 0.6rem; }

/* line 28, ../sass/pages/_simple_form.scss */
.monthlyRepayment div em {
  width: 11.25rem;
  height: 2.3rem;
  line-height: 2.5rem;
  display: block;
  text-align: right;
  padding-right: 0.75rem; }

/* line 29, ../sass/pages/_simple_form.scss */
.monthlyRepayment div span {
  font-size: 0.6rem;
  position: absolute;
  right: 0.375rem;
  bottom: 0.375rem; }

/* line 30, ../sass/pages/_simple_form.scss */
.dotLine {
  padding-bottom: 0.25rem;
  margin-bottom: 0.75rem;
  background: url(../img/dot_line.png) repeat-x 0 bottom; }

/* line 31, ../sass/pages/_simple_form.scss */
.prePrice span {
  display: block;
  font-size: 0.45rem;
  color: #666;
  -moz-box-flex: 1;
  /* Firefox */
  -webkit-box-flex: 1;
  /* Safari and Chrome */
  -ms-flex: 1;
  /* Internet Explorer 10 */
  box-flex: 1; }

/* line 39, ../sass/pages/_simple_form.scss */
.prePrice span.last {
  margin-right: 0; }

/*进度条*/
/* line 41, ../sass/pages/_simple_form.scss */
.progressArea {
  height: 1.75rem;
  width: 100%; }

/* line 42, ../sass/pages/_simple_form.scss */
.progressCon {
  position: relative;
  padding-top: 0.625rem; }

/* line 43, ../sass/pages/_simple_form.scss */
.progressDot {
  position: absolute;
  top: 0.55rem;
  width: 0.25rem;
  height: 0.25rem;
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem; }

/* line 44, ../sass/pages/_simple_form.scss */
.dotBlue {
  left: 0;
  background: #f74e61; }

/* line 45, ../sass/pages/_simple_form.scss */
.dotGray {
  right: 0;
  background: #e5e6eb; }

/* line 46, ../sass/pages/_simple_form.scss */
.progressHorizontal {
  width: 100%;
  height: 0.125rem;
  background: #e5e6eb; }

/* line 47, ../sass/pages/_simple_form.scss */
.progressHandle {
  background: #f74e61;
  height: 0.125rem;
  max-width: 100%;
  position: relative;
  left: 0;
  top: 0; }

/* line 48, ../sass/pages/_simple_form.scss */
.priceSum {
  width: 2rem;
  height: 3rem;
  position: absolute;
  text-align: center;
  z-index: 10;
  color: #FFF;
  padding-top: 0.15rem;
  left: 6.25rem;
  top: -1.975rem;
  background: url(../img/price_bg.png) no-repeat;
  background-size: 1.875rem 3rem;
  cursor: pointer;
  font-size: 0.55rem; }

/* line 49, ../sass/pages/_simple_form.scss */
.loanPeriod a {
  width: 2.85rem;
  color: #888;
  height: 1.1rem;
  line-height: 1.1rem;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  display: inline-block;
  text-align: center;
  font-size: 0.6rem;
  margin-right: 0.3rem;
  background: #DDD; }

/* line 50, ../sass/pages/_simple_form.scss */
.loanPeriod a.last {
  margin-right: 0; }

/* line 51, ../sass/pages/_simple_form.scss */
.loanPeriod a:hover, .loanPeriod .cur {
  background: #f74e61;
  color: #FFF; }

/* line 52, ../sass/pages/_simple_form.scss */
.loanPeriod .monthArea {
  margin-bottom: 0.625rem;
  text-align: center; }

/* line 53, ../sass/pages/_simple_form.scss */
.orderBtn a, .orderIt a, .btn-blue {
  width: 7.5rem;
  height: 1.3rem;
  display: block;
  margin: 0.5rem auto;
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  line-height: 1.3rem;
  background: #f74e61;
  color: #FFF;
  text-align: center; }

/* line 54, ../sass/pages/_simple_form.scss */
.orderBtn p {
  font-size: 0.55rem;
  text-align: center;
  color: #666; }

/*计算器区块 结束*/
/* line 56, ../sass/pages/_simple_form.scss */
.footerTel {
  height: 0.75rem;
  padding: 0.375rem 0;
  background: #f74e61;
  color: #FFF;
  text-align: center;
  font-size: 0.7rem; }

/* line 57, ../sass/pages/_simple_form.scss */
.footerTel span {
  width: 0.675rem;
  height: 0.95rem;
  display: inline-block;
  background: url(../img/telbg.png) no-repeat 0 0.125rem;
  padding-right: 0.25rem;
  background-size: 0.675rem 0.725rem; }

/* line 58, ../sass/pages/_simple_form.scss */
.footerTel a {
  color: #FFF; }

/*省市区选择 address*/
/* line 62, ../sass/pages/_simple_form.scss */
.address-dialog {
  width: 90%;
  height: 100%;
  position: fixed;
  left: 100%;
  top: 0;
  transition: left .3s;
  transform: translate(0, 0);
  overflow-y: scroll;
  background-color: #fff;
  z-index: 9; }

/* line 74, ../sass/pages/_simple_form.scss */
.addressArea {
  transition: left .3s;
  transform: translate(0, 0);
  position: relative; }

/* line 79, ../sass/pages/_simple_form.scss */
.addressArea li {
  width: 100%;
  padding: 0.25rem 0.75rem;
  box-sizing: border-box;
  line-height: 2rem;
  border-bottom: solid 1px #DDD;
  background-color: #fff;
  position: relative; }

/*.addressArea li:hover,.addressArea li:active{
  background-color: #20a2e2;
  color: #ffffff;
}*/
/* line 92, ../sass/pages/_simple_form.scss */
.addressArea li::before {
  content: "";
  border-color: transparent  transparent  transparent  #888;
  border-style: solid;
  border-width: 0.375rem;
  height: 0;
  width: 0;
  position: absolute;
  right: 0.25rem;
  top: 0.825rem; }

/* line 103, ../sass/pages/_simple_form.scss */
.addressArea li::after {
  content: "";
  border-color: transparent transparent transparent  #fff;
  border-style: solid;
  border-width: 0.375rem;
  height: 0;
  width: 0;
  position: absolute;
  right: 0.3rem;
  top: 0.825rem; }

/* line 114, ../sass/pages/_simple_form.scss */
.city-list, .area-list {
  left: 100%; }

/* line 2, ../sass/pages/_supplemental-first.scss */
.supplemental-tab-con {
  margin-bottom: 1rem; }

/* line 5, ../sass/pages/_supplemental-first.scss */
.js-container-social_security, .js-container-provident_fund {
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }

/* line 8, ../sass/pages/_supplemental-first.scss */
.js-container-provident_fund {
  top: -11.5rem; }

/* line 11, ../sass/pages/_supplemental-first.scss */
.verify_img {
  width: 4rem;
  max-height: 1.5rem; }

/* line 15, ../sass/pages/_supplemental-first.scss */
.supplemental_mascot_qidai {
  width: 5rem;
  height: 5.75rem;
  background-position: 0 -25.5rem;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0); }

/* line 22, ../sass/pages/_supplemental-first.scss */
.weui_cells_form .weui_cell_ft img {
  font-size: initial; }

/* line 2, ../sass/pages/_supplemental-second.scss */
.second-icon-font {
  font-size: 1rem; }

/*@import "compass/utilities/sprites";    // 加载compass sprites模块
$icoList-layout: 'vertical';
$icoList-spacing: 80px;
@import "icoList*/
                  /*.png";                    // 导入icoList目录下所有png图片
@include all-share-sprites;                // 输出所有的雪碧图css*/
/*申请成功页面*/
/*.successTop:before,.provesLink p:before,.provesLink ul li span:before{
  background-image:url(../img/icoList.png);
  background-repeat: no-repeat;
  background-size:rem-calc(804px) rem-calc(128px);
}*/
/* line 15, ../sass/pages/_subscribe_success.scss */
.successTop:before {
  content: "";
  width: 3.45rem;
  height: 5.2rem;
  position: absolute;
  background-image: url(../img/mascotList.png);
  background-size: 4.52rem 39.46rem;
  background-position: 0 -10.1rem;
  background-color: #fdfdff;
  left: 2rem;
  top: 0.5rem; }

/*.provesLink p:before{
  content: "";
  background-position:rem-calc(-472px) rem-calc(0px);
  width: rem-calc(64px);
  height:rem-calc(64px);
  position: relative;
  left: rem-calc(-10px);
  top:rem-calc(25px);
  display: inline-block;
  background-size:rem-calc(643px) rem-calc(102px);
}*/
/*.provesLink ul li span:before{
  content: "";
  width: rem-calc(51px);
  height:rem-calc(51px);
  display: inline-block;
  background-position:rem-calc(-296px) rem-calc(0px);
  background-size:rem-calc(643px) rem-calc(102px);
  position: relative;
  left: rem-calc(12px);
  top:rem-calc(10px)
}*/
/* line 49, ../sass/pages/_subscribe_success.scss */
.provesLink ul li .work:before {
  background-position: -9.1rem 0;
  left: 0.5rem; }

/* line 53, ../sass/pages/_subscribe_success.scss */
.provesLink ul li .money:before {
  background-position: -10.4rem 0; }

/* line 56, ../sass/pages/_subscribe_success.scss */
.proveslink-icon {
  font-size: 0.95rem; }

/* line 59, ../sass/pages/_subscribe_success.scss */
.proves-ico {
  color: #fff;
  font-size: 1.25rem;
  margin-left: 0.35rem; }

/* line 65, ../sass/pages/_subscribe_success.scss */
.successTop {
  position: relative;
  height: 2.75rem;
  padding-top: 2rem;
  padding-bottom: 2.125rem;
  padding-left: 5.75rem; }

/* line 66, ../sass/pages/_subscribe_success.scss */
.successTop dt {
  color: #f74e61;
  padding-bottom: 0.25rem;
  font-size: 0.8rem; }

/* line 67, ../sass/pages/_subscribe_success.scss */
.successTop dd {
  font-size: 0.6rem;
  line-height: 0.75rem;
  color: #666; }

/* line 68, ../sass/pages/_subscribe_success.scss */
.successStep {
  padding: 0.25rem 0;
  border-bottom: solid 1px #EEE;
  border-top: solid 1px #EEE;
  text-align: center;
  background: url("../img/step.png") 0.75rem 0.25rem no-repeat;
  background-size: 14.525rem 1.675rem;
  width: 16rem;
  height: 1.675rem; }

/* line 77, ../sass/pages/_subscribe_success.scss */
.successStep img {
  width: 14.525rem;
  height: 1.625rem;
  padding: 0.3rem 0.75rem; }

/* line 78, ../sass/pages/_subscribe_success.scss */
.provesLink {
  color: #f74e61;
  margin-top: 1.5rem;
  margin-bottom: 1.75rem; }

/* line 79, ../sass/pages/_subscribe_success.scss */
.provesLink p {
  font-size: 0.65rem;
  padding-left: 2.25rem;
  margin-bottom: 0.75rem; }

/* line 80, ../sass/pages/_subscribe_success.scss */
.provesLink ul {
  width: 9.75rem;
  margin: 0 auto; }

/* line 81, ../sass/pages/_subscribe_success.scss */
.provesLink ul li {
  margin-top: 0.75rem;
  position: relative; }

/* line 82, ../sass/pages/_subscribe_success.scss */
.provesLink ul li a {
  display: block;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  border: solid 2px #EEE;
  color: #f74e61;
  font-size: 0.8rem;
  line-height: 1.65rem;
  display: block;
  padding-left: 2.25rem; }

/* line 83, ../sass/pages/_subscribe_success.scss */
.provesLink ul li span {
  background-color: #f74e61;
  width: 1.925rem;
  height: 1.8rem;
  position: absolute;
  right: 0;
  top: 0;
  border: solid 0.05rem #f74e61;
  -moz-border-radius-topright: 0.125rem;
  -webkit-border-top-right-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  -moz-border-radius-bottomright: 0.125rem;
  -webkit-border-bottom-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem; }

/*.provesLink ul li span.work{background-color:$main-color; background-position:rem-calc(-364px) rem-calc(0px);}
.provesLink ul li span.money{background-color:$main-color; background-position:rem-calc(-416px) rem-calc(0px);}*/
/* line 88, ../sass/pages/_subscribe_success.scss */
.footerLink {
  padding-top: 0;
  text-align: center;
  padding-bottom: 0.75rem; }

/* line 89, ../sass/pages/_subscribe_success.scss */
.footerLink a {
  width: 6.875rem;
  height: 1.375rem;
  line-height: 1.375rem;
  display: inline-block;
  margin-right: 0.5rem;
  background: #f0f0f0;
  box-shadow: 0 2px 3px #DDD;
  text-align: center;
  color: #666;
  font-size: 0.7rem;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem; }

/* line 90, ../sass/pages/_subscribe_success.scss */
.footerLink a.cur {
  background: #f74e61;
  color: #FFF; }

/* line 91, ../sass/pages/_subscribe_success.scss */
.footerLink a.last {
  margin-right: 0; }

/* line 92, ../sass/pages/_subscribe_success.scss */
.footerLink a:hover {
  color: #FFF;
  background: #f74e61; }

/* line 2, ../sass/pages/supplemental_success.scss */
.supplemental_success_ico {
  width: 5.25rem;
  height: 6rem;
  background-position: 0 -6.425rem;
  display: inline-block;
  background-color: #fbf9fe;
  margin-bottom: 0.5rem; }

/*证明*/
/*tab切换区块*/
/* line 5, ../sass/pages/_proves-h5.scss */
.proveTitle {
  color: #f74e61;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: center;
  padding-bottom: 0.5rem;
  margin: 0.5rem; }

/*材料证明 开始*/
/* line 8, ../sass/pages/_proves-h5.scss */
.tabArea .swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

/* line 13, ../sass/pages/_proves-h5.scss */
.tabArea .swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%; }

/* line 18, ../sass/pages/_proves-h5.scss */
.tabArea .swipe-wrap > figure {
  float: left;
  width: 16rem;
  position: absolute;
  margin: 0;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  left: 16rem; }

/* line 28, ../sass/pages/_proves-h5.scss */
.tabArea #slider {
  max-width: 640px;
  /* 设置最大的宽度 */
  margin: 0px auto;
  height: 23.5rem; }

/* line 34, ../sass/pages/_proves-h5.scss */
.tabArea .silderCon {
  position: relative;
  height: auto;
  overflow: hidden; }

/* line 35, ../sass/pages/_proves-h5.scss */
.tabArea .silderCon img {
  max-width: 100%; }

/* line 37, ../sass/pages/_proves-h5.scss */
.tabArea .silderCon #position {
  height: 1.5rem;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* line 48, ../sass/pages/_proves-h5.scss */
.tabArea .silderCon #position li {
  display: inline-block;
  width: 32%;
  height: 1.5rem;
  cursor: pointer;
  background-color: #fff;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
  opacity: 1; }

/* line 59, ../sass/pages/_proves-h5.scss */
.tabArea .silderCon #position li h3 {
  font-size: 0.6rem;
  background: #EEE;
  cursor: pointer;
  color: #999;
  height: 1.25rem;
  line-height: 1.25rem; }

/* line 60, ../sass/pages/_proves-h5.scss */
.tabArea .silderCon #position li.on {
  background: url(../images/cur_bg1.png) no-repeat center 1.25rem;
  background-size: 0.55rem 0.225rem; }

/* line 64, ../sass/pages/_proves-h5.scss */
.tabArea .silderCon #position li.on h3 {
  color: #FFF;
  height: 1.25rem;
  background: #f74e61; }

/*微信公众号链接*/
/* line 66, ../sass/pages/_proves-h5.scss */
.footerWx, .footerWx:link {
  margin: 0px 0.75rem 0.5rem 0.75rem;
  display: inline-block;
  width: 14.5rem;
  background-color: #afafaf;
  color: #fff;
  text-align: center;
  line-height: 1.25rem;
  box-shadow: 0 2px 3px #DDD;
  -moz-border-radius: 0.125rem;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  font-size: 0.6rem; }

/* line 68, ../sass/pages/_proves-h5.scss */
.wxCon {
  line-height: 0.875rem; }

/*材料证明 结束*/
/*常见问题*/
/* line 3, ../sass/pages/_question-h5.scss */
.questionTitle {
  font-size: 0.75rem;
  color: #f74e61;
  padding-bottom: 0.5rem; }

/* line 4, ../sass/pages/_question-h5.scss */
.questionCon ul {
  border: solid 1px #EEE;
  border-bottom: 0; }

/* line 5, ../sass/pages/_question-h5.scss */
.questionCon ul li {
  bottom-bottom: solid 1px #FFF; }

/* line 6, ../sass/pages/_question-h5.scss */
.questionCon ul li h2 {
  height: 1.75rem;
  line-height: 1.75rem;
  font-size: 0.75rem;
  padding-left: 25px;
  font-weight: 400;
  color: #666;
  background-size: 1.25rem 14rem;
  border-bottom: solid 1px #EEE; }

/* line 7, ../sass/pages/_question-h5.scss */
.questionCon ul li h2.cur {
  color: #FFF;
  background: #f74e61;
  background-size: 1.25rem 14rem;
  border-bottom: solid 1px #f74e61; }

/* line 8, ../sass/pages/_question-h5.scss */
.questionCon dl {
  padding: 0.625rem;
  color: #666;
  border-bottom: solid 0.025rem #EEE;
  display: none;
  border-bottom: solid 1px #EEE; }

/* line 9, ../sass/pages/_question-h5.scss */
.questionCon dl dt {
  font-size: 0.7rem;
  margin-bottom: 0.25rem; }

/* line 10, ../sass/pages/_question-h5.scss */
.questionCon dl dd {
  font-size: 0.7rem;
  line-height: 1rem;
  padding-left: 0.5rem;
  background-size: 0.2rem 0.175rem;
  margin-bottom: 0.125rem; }

/* line 11, ../sass/pages/_question-h5.scss */
.questionCon dl.noDots dd {
  background: none; }

/* line 12, ../sass/pages/_question-h5.scss */
.question-icon-arrow {
  font-size: 1rem;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  margin-right: 0.5rem; }

/* line 17, ../sass/pages/_question-h5.scss */
.cur .question-icon-arrow {
  transform: rotate(90deg); }

/*支付提示*/
/* line 4, ../sass/pages/_approve_search.scss */
.pay-success {
  padding: 0 0.5rem;
  position: relative;
  overflow: hidden;
  height: 13.375rem;
  top: -0.25rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 12, ../sass/pages/_approve_search.scss */
.pay-success-printer {
  height: 0.5rem;
  width: 15rem;
  margin: 0 0.5rem;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY1NjQ2NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM4MzgzOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #656464), color-stop(100%, #383838));
  background-image: -moz-linear-gradient(bottom, #656464, #383838);
  background-image: -webkit-linear-gradient(bottom, #656464, #383838);
  background-image: linear-gradient(to top, #656464, #383838);
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem; }

/* line 19, ../sass/pages/_approve_search.scss */
.success-order-info {
  background-color: #fff;
  position: absolute;
  width: 14.5rem;
  height: 13rem;
  left: 0.75rem;
  border-left: 0.05rem solid #e4e4e4;
  border-right: 0.05rem solid #e4e4e4;
  text-align: center;
  -moz-animation: stretchdelay 1s ease;
  -webkit-animation: stretchdelay 1s ease;
  animation: stretchdelay 1s ease; }

@-moz-keyframes stretchdelay {
  0% {
    top: -15.75rem; }
  100% {
    top: 0; } }
@-webkit-keyframes stretchdelay {
  0% {
    top: -15.75rem; }
  100% {
    top: 0; } }
@keyframes stretchdelay {
  0% {
    top: -15.75rem; }
  100% {
    top: 0; } }
/* line 54, ../sass/pages/_approve_search.scss */
.success-order-info::before {
  content: " ";
  height: 1rem;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, #d5d5d5));
  background-image: -moz-linear-gradient(bottom, #ffffff, #d5d5d5);
  background-image: -webkit-linear-gradient(bottom, #ffffff, #d5d5d5);
  background-image: linear-gradient(to top, #ffffff, #d5d5d5);
  position: absolute;
  left: 0; }

/* line 62, ../sass/pages/_approve_search.scss */
.mt-10 {
  margin-top: 0.25rem; }

/* line 63, ../sass/pages/_approve_search.scss */
.mt-40 {
  margin-top: 1rem; }

/* line 64, ../sass/pages/_approve_search.scss */
.mb-40 {
  margin-bottom: 1rem; }

/* line 65, ../sass/pages/_approve_search.scss */
.font-50 {
  font-size: 1.25rem; }

/* line 66, ../sass/pages/_approve_search.scss */
.success-order-info hr {
  width: 13rem;
  background-color: #d8d8d8;
  border: 0;
  height: 0.05rem; }

/* line 72, ../sass/pages/_approve_search.scss */
.success-order-info::after {
  content: " ";
  background: url(../img/border-img.jpg) repeat;
  background-size: 0.65rem 0.4rem;
  height: 0.4rem;
  width: 100%;
  position: absolute;
  bottom: -0.4rem;
  left: 0; }

/* line 82, ../sass/pages/_approve_search.scss */
.success-order-Attribute {
  color: #aaa;
  margin-top: 1rem;
  width: 12.5rem;
  display: inline-block; }

/* line 88, ../sass/pages/_approve_search.scss */
.success-order-Attribute dt {
  width: 3.5rem;
  margin-bottom: 0.375rem;
  padding-left: 0.25rem;
  float: left;
  text-align: left;
  clear: both; }

/* line 96, ../sass/pages/_approve_search.scss */
.success-order-Attribute dd {
  width: 9rem;
  padding-right: 0.25rem;
  margin-bottom: 0.375rem;
  float: right;
  text-align: right; }

/*选择业务类型页面 */
/* line 4, ../sass/pages/_business-type-h5.scss */
.business_con {
  height: 12.5rem;
  margin: 1.25rem 0; }

/* line 8, ../sass/pages/_business-type-h5.scss */
.business_con .business_tab_con {
  position: absolute;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  left: 15.5rem;
  background-color: #fbf9fe;
  width: 14.5rem;
  height: 100%;
  padding: 0 0.75rem; }

/* line 17, ../sass/pages/_business-type-h5.scss */
.business-mascot-img {
  width: 5rem;
  height: 6.25rem;
  background-position: 0 -12.625rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem; }

/* line 24, ../sass/pages/_business-type-h5.scss */
.business-mascot-img-kefu {
  width: 3.75rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem; }

/* line 29, ../sass/pages/_business-type-h5.scss */
.business-text {
  width: 9rem;
  margin-top: 1.25rem;
  font-weight: bold;
  color: #654301; }

/* line 35, ../sass/pages/_business-type-h5.scss */
.business_btn_con {
  width: 90%;
  display: inline-block; }

/* line 3, ../sass/pages/largest_consumer/_consumer.scss */
.consumer {
  position: relative;
  text-align: center; }
  /* line 6, ../sass/pages/largest_consumer/_consumer.scss */
  .consumer .button_book {
    position: relative;
    margin-top: -36%;
    animation: myfirst 1.5s linear 0s infinite alternate;
    /* Firefox: */
    -moz-animation: myfirst 1.5s linear 0s infinite alternate;
    /* Safari 和 Chrome: */
    -webkit-animation: myfirst 1.5s linear 0s infinite alternate;
    /* Opera: */
    -o-animation: myfirst 1.5s linear 0s infinite alternate; }

@keyframes myfirst {
  0% {
    transform: scale(1.05); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }
@-moz-keyframes myfirst /* Firefox */ {
  0% {
    transform: scale(1.05); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes myfirst /* Safari 和 Chrome */ {
  0% {
    transform: scale(1.05); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }
@-o-keyframes myfirst /* Opera */ {
  0% {
    transform: scale(1.05); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.95); }
  100% {
    transform: scale(1); } }
/* line 49, ../sass/pages/largest_consumer/_consumer.scss */
.consumer_dec {
  background-color: #f9f1c5;
  color: #3e1609;
  margin-top: -6%;
  font-size: 1em; }
  /* line 54, ../sass/pages/largest_consumer/_consumer.scss */
  .consumer_dec .dec_main {
    width: 94%;
    background-color: #f9f1c5;
    padding-top: 5%;
    padding-bottom: 8%;
    margin: auto; }
  /* line 61, ../sass/pages/largest_consumer/_consumer.scss */
  .consumer_dec .margin-left-15 {
    margin-left: 1.5em; }
  /* line 64, ../sass/pages/largest_consumer/_consumer.scss */
  .consumer_dec .padding-top-5 {
    padding-top: 5%; }

/*@import "compass/utilities/sprites";
$ico-list-spacing: 10px;
$ico-list-layout:vertical;
@import "ico-list*/
                   /*.png";
@include all-ico-list-sprites;*/
/* line 8, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .ico-list, .rejectMediocrity .active-identifier::before, .rejectMediocrity .btn-luck-draw::before {
  background-image: url("../img/rejectMediocrity/ico-list.png");
  background-repeat: no-repeat;
  background-size: 8.725rem 5.925rem; }
/* line 13, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .img-block {
  display: block;
  vertical-align: bottom; }
/* line 17, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .rejectMediocrity-container {
  background-color: #a2261c;
  width: 100%; }
/* line 21, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .active-identifier {
  background-color: #fcc743;
  color: #a3241b;
  font-size: 0.75rem;
  width: 2.25rem;
  height: 1.825rem;
  position: relative;
  margin-left: 1.25rem; }
/* line 30, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .active-identifier::before {
  content: "";
  width: 2.325rem;
  height: 0.9rem;
  position: absolute;
  bottom: -0.9rem;
  background-position: 0 0; }
/* line 38, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .active-identifier-font {
  font-size: 1.7rem;
  position: absolute;
  left: 0.25rem;
  top: 0.125rem; }
/* line 44, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .active-title {
  width: 4.875rem;
  height: 1.7rem;
  position: absolute;
  left: 50%;
  top: 0.25rem;
  transform: translate(-50%, 0);
  background-position: 0 -1rem;
  text-indent: -9999px; }
/* line 54, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .zhuanpan-con {
  left: 50%;
  margin-top: 0.5rem;
  transform: translate(-50%, 0);
  position: relative;
  width: 10.9rem;
  height: 10.9rem;
  overflow: hidden; }
/* line 63, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .zhuanpan-zhizhen {
  width: 5.125rem;
  height: 6.05rem;
  background: url("../img/rejectMediocrity/zhuanpan-jiantou.png") no-repeat;
  background-size: 5.125rem 6.05rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%); }
/* line 73, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .btn-luck-draw {
  width: 7rem;
  height: 1.75rem;
  border: 1px solid  #f3ca5e;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzOWMzNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U0NmQwZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f39c35), color-stop(100%, #e46d0f));
  background: -moz-linear-gradient(top, #f39c35 0%, #e46d0f 100%);
  background: -webkit-linear-gradient(top, #f39c35 0%, #e46d0f 100%);
  background: linear-gradient(to bottom, #f39c35 0%, #e46d0f 100%);
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 1.75rem;
  transform: translate(-50%, 0);
  left: 50%;
  position: relative;
  margin-top: 0.7rem; }
/* line 88, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .btn-luck-draw::before {
  position: absolute;
  width: 6rem;
  height: 1rem;
  content: " ";
  background-position: 0 -2.75rem;
  left: 0.5rem;
  top: 0.3rem; }
/* line 97, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .btn-link-rule {
  color: #ffefcc;
  display: inline-block;
  transform: translate(-50%, 0);
  position: relative;
  left: 50%;
  margin-top: 0.875rem;
  font-size: 0.6rem; }
/* line 106, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .red-packets-con {
  background: url(../img/rejectMediocrity/red-packets.png) no-repeat;
  background-size: 12.425rem 12.9rem;
  width: 12.425rem;
  height: 12.9rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%); }
/* line 116, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .red-packets-dialog::before {
  content: '';
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
/* line 125, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .red-packets-text {
  color: #f8db00;
  font-size: 0.55rem;
  margin: 4.25rem 0 0 2.625rem; }
/* line 130, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .red-packets-bonus {
  font-size: 1.25rem;
  color: #b11a11;
  font-weight: bold;
  margin: 0.625rem 0 0 4.5rem;
  text-align: center;
  width: 3.5rem; }
/* line 138, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .btn-receive {
  position: absolute;
  bottom: 0.55rem;
  left: 50%;
  transform: translate(-50%, 0); }
/* line 144, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .btn-yellow {
  width: 6rem;
  height: 1.5rem;
  background-color: #fcdb02;
  border-radius: 0.125rem;
  text-align: center;
  line-height: 1.5rem;
  color: #b02312;
  font-weight: bold;
  font-size: 0.75rem; }
/* line 155, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .winning-list-con .winning-list-title {
  background-color: #eb5d49;
  color: #fff;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 1rem; }
/* line 163, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .winning-list-con .winning-list-header, .rejectMediocrity .winning-list-con dd {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  background-color: #ffede1;
  color: #791b19;
  line-height: 1rem;
  text-align: center; }
/* line 172, ../sass/pages/rejectMediocrity/_index.scss */
.rejectMediocrity .winning-list-con dd {
  background-color: #ffe5d2; }

/* line 2, ../sass/pages/rejectMediocrity/_activeRule.scss */
.rule-title .active-title {
  background-position: 0 -4rem;
  left: 44%;
  width: 5rem;
  height: 1.875rem;
  margin-top: 0.375rem; }

/* line 9, ../sass/pages/rejectMediocrity/_activeRule.scss */
.rule-text {
  color: #fff;
  padding: 0 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1.5rem;
  font-size: 0.65rem;
  line-height: 1.25rem; }

/* line 18, ../sass/pages/rejectMediocrity/_activeRule.scss */
.btn-return {
  width: 7rem;
  display: inline-block;
  margin: 2.1rem 0 2rem 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0); }

/* line 8, ../sass/pages/extensionActive/_index.scss */
.extensionActive {
  background-color: #f9f9f9; }
  /* line 10, ../sass/pages/extensionActive/_index.scss */
  .extensionActive .banner {
    width: 100%;
    height: 7rem;
    background: url(../img/extensionActive/banner.jpg) no-repeat center;
    background-size: 16rem 7rem; }
  /* line 16, ../sass/pages/extensionActive/_index.scss */
  .extensionActive .active-con {
    width: 15.275rem;
    margin: 0 auto;
    overflow: hidden; }
  /* line 21, ../sass/pages/extensionActive/_index.scss */
  .extensionActive .active-list {
    width: 15.525rem;
    margin: 0.5rem 0;
    display: inline-block; }
    /* line 25, ../sass/pages/extensionActive/_index.scss */
    .extensionActive .active-list li {
      border: 1px solid #ddd;
      padding: 0.25rem;
      width: 7.5rem;
      height: 10.5rem;
      height: 37vh;
      background-color: #fff;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem; }
    /* line 37, ../sass/pages/extensionActive/_index.scss */
    .extensionActive .active-list img {
      width: 7rem;
      height: 5rem; }
  /* line 42, ../sass/pages/extensionActive/_index.scss */
  .extensionActive .active-title {
    font-size: 0.6rem;
    color: #333;
    margin-top: 0.625rem;
    font-weight: bold; }
  /* line 48, ../sass/pages/extensionActive/_index.scss */
  .extensionActive .active-introduction {
    font-size: 0.5rem;
    color: #666;
    margin: 0.375rem 0.25rem 0 0.25rem;
    margin-top: 1vh;
    line-height: 0.875rem; }
  /* line 55, ../sass/pages/extensionActive/_index.scss */
  .extensionActive .text-more {
    font-size: 0.4rem;
    margin-top: 0.125rem;
    line-height: 0.625rem; }
  /* line 60, ../sass/pages/extensionActive/_index.scss */
  .extensionActive .wx-extension {
    width: 7.9rem;
    height: 1.525rem;
    margin-left: 3.625rem; }

/*z-index style*/
